body{
	background: #f1f11f;
	font-family: Tahoma, Arial, sans-serif;
	color: #000000;
}


.archive {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.post-title a {
color: #0000000;
}

.header img {
	display: block;
 	width: 318px;
 	margin-left: auto;
 	margin-right: auto;
}

.article-author {
width: 50%;
float: left;
}

.article-created-date {
text-align: right;
}